.GeneralSettings > .PageBox {
    text-align: right;
    margin: 20px;
}
.GeneralSettings > form > .PageBox {
    text-align: right;
    margin: 20px;
}

.GeneralSettings > form > .PageBox > input,
.GeneralSettings > form > .PageBox > textarea {
    display: block;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    width: 100%;
}

.GeneralSettings > form > .PageBox > input[type=color] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    box-shadow: 0px 0px 3px #000;
    margin: 5px;
    cursor: pointer;
}

.GeneralSettings > form > .PageBox > div {
    text-align: center;
}

.GeneralSettings > form > .PageBox > div > button {
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #d9d5cd;
    border: none;
    cursor: pointer;
    width: 100px;
}

.GeneralSettings > form > .PageBox > .Err {
    text-align: right;
    background-color: #eddede;
    padding: 0 5px 0 5px;
    width: 100%;
    border-radius: 0 0 5px 5px;
}