.Toolbar {
    font-size: 17px;
    width: 100%;
    background-color: #000000de;
    color: #FFF;
    padding: 10px 0 10px 0;
}

.Toolbar:hover {
    text-decoration: underline 2px #d9d5cd;
    cursor: default;
}