.UpdateShipping > form > .PageBox {
    text-align: right;
    margin: 20px;
}

.UpdateShipping > form > .PageBox > input {
    display: block;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    width: 100%;
}

.UpdateShipping > form > .PageBox > div {
    text-align: center;
}

.UpdateShipping > form > .PageBox > div > button {
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #d9d5cd;
    border: none;
    cursor: pointer;
    width: 100px;
}

.UpdateShipping > form > .PageBox > .Err {
    text-align: right;
    background-color: #eddede;
    padding: 0 5px 0 5px;
    width: 100%;
    border-radius: 0 0 5px 5px;
}