.Profile {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    margin-top: 10px;
}

.Profile > .Settings {
    width: 300px;
    background-color: #e7e7e7;
}

.Profile > .Page {
    width: 500px;
    background-color: #EEE;
    padding-bottom: 10px;
}

.Profile > .Settings > .Btn {
    margin: 10px;
    cursor: pointer;
}

.Profile > .Settings > .Btn:Hover {
    background-color: #EEE;
}

.Profile > .Settings > .Btn > svg {
    margin-left: 15px;
    color: #7a7a7a;
}

.Profile > .Page > .PageBox {
    text-align: right;
    margin: 20px;
}

.Profile > .Page > form > .PageBox {
    text-align: right;
    margin: 20px;
}

.Profile > .Page > form > .PageBox > input {
    display: block;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    width: 100%;
}

.Profile > .Page > form > .PageBox > div {
    text-align: center;
}

.Profile > .Page > form > .PageBox > div > button {
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #d9d5cd;
    border: none;
    cursor: pointer;
    width: 100px;
}

.Profile > .Page > form > .PageBox > .Err {
    text-align: right;
    background-color: #eddede;
    padding: 0 5px 0 5px;
    width: 100%;
    border-radius: 0 0 5px 5px;
}