html,
body,
#root {
    margin: 0;
    text-align: center;
    font-size: x-large;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

a {
    color: blue;
}

.Box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: #e5e5e5;
    margin: 0 auto;
    text-align: right;
}

.Box hr {
    width: 99%;
    margin-bottom: 5%;
}

.Box h2 {
    margin-bottom: 10px;
}

.Box button {
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #d9d5cd;
    border: none;
    cursor: pointer;
    width: 100px;
}

.Box input {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    display: block;
    width: 100%;
    padding: 5px 0 5px 0;
    border: none;
    text-align: left;
    outline: none;
}

.Box .Err {
    margin-bottom: 5px;
    background-color: #ccb8b8;
    color: #a92424;
    letter-spacing: 1px;
}

.Box span {
    color: #323232;
}

@media only screen and (max-width: 800px) {

    .Menu {
        width: 100%;
        margin: 0 0 10px 0;
        padding: 0 0 5px 0;
    }

    .Tools {
        align-items: center;
        justify-content: center;
    }

    .Bars {
        display: block;
        position: absolute;
        top: 60px;
        left: 10px;
        width: 50px;
        height: 50px;
        background-color: #e1e1e1;
        color: #a7a7a7;
        border-radius: 5px;
    }

    .Bars:Hover {
        background-color: #d3d3d3;
        color: #999999;
    }

    .Navbar_Mobile {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 40%;
        background-color: #EEE;
        box-shadow: 0px 0px 5px 2px #EEE;
    }

    .Navbar_Mobile>.Tools {
        background-color: #cbcbcb;
        margin: 0;
    }

    .Navbar_Mobile>.Tools>span>* {
        color: #585858;
    }

    .Navbar_Mobile>.CloseBtn {
        cursor: pointer;
        text-align: left;
        margin: 10px;
        font-size: 25px;
    }

    .Navbar {
        display: none;
    }

    .Menu>.Navbar_Mobile>a {
        background-color: #EEE;
        color: #000;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 20px;
        margin: 20px;
        display: block;
        margin: 0 auto;
        border-top: 1px solid #dfdfdf;
        padding: 5px 0 5px 0;
    }

    .Menu a:not(:first-child):Hover {
        background-color: #d9d5cd;
    }

    .Menu:Hover {
        background-color: transparent;
    }

    .Banner {
        height: 200px;
    }

    .BannerText p:nth-of-type(2) {
        font-size: 30px;
    }

    .Login,
    .Register,
    .Register>.Box>form>.BoxBg {
        display: block;
    }

    .Register>.Box>form>.BoxBg>div {
        padding: 5px 0 10px 0;
        margin: 0;
    }

    .AuthBanner {
        width: 100%;
        height: 200px;
    }

    .Box {
        padding: 5px 0 20px 0;
        text-align: center;
        width: 100%;
        height: auto;
    }

    .Profile,
    .SettingsComponent {
        display: block;
        margin: 0;
    }

    .Profile>.Settings>.Btn,
    .SettingsComponent>.SettingsMenu>.Btn {
        text-align: center;
    }

    .Profile>.Settings,
    .Profile>.Page,
    .SettingsComponent>.SettingsMenu,
    .SettingsComponent>.Page {
        width: 100%;
        padding: 5px 0 5px 0;
        margin: 0;
    }

    .Statistics {
        display: block;
    }

    .Statistics > .StatisticsBox {
        width: 98%;
        margin-bottom: 10px;
    }

}